	<div class="panel panel-primary" ng-controller="usersTopController">
		<div class="panel-heading"><h4><i class="fa fa-users fa-fw fa-lg" style="margin-right: 5px;"></i><span translate>label.usertop</span></h4></div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item avatar-left" style="overflow: hidden;" ng-repeat="user in usersTop">
					<img ng-if="!user.fbUserId" class="fa fa-fw img-rounded" style="top: 10px; left: 0px;" ng-src="img/icons/user.png">
					<img ng-if="user.fbUserId" class="fa fa-fw img-rounded" style="top: 10px; left: 0px;" ng-src="https://graph.facebook.com/{{::user.fbUserId}}/picture">
					<div class="text-uppercase text-primary text-nowrap" style="line-height: 40px; margin: 0 0 0px 0; overflow: hidden; text-overflow: ellipsis;"><strong>{{::user.nickname}}</strong></div>
					<div style="float: right;"><span class="badge">{{::user.score}}</span></div>
				</div>
				<div ng-if="errore" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" style="margin-right: 5px;"></i><span translate>error.server</span></div>
			</div>
		</div>
	</div>